body{
  text-align: center;
  background-image: url("../images/blue.png");
}
p{
  font weight: italic;
  font-size: 25px;
}
.breaker{
  background-image: url("../images/red.jpeg");
  margin-top: 200px;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 30px;
  font-size: 30px;
  margin-top: 30px;
}
.button{
  font-size: 20px;
}
.container{
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
}
